* {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 100px;
}

.container h1 {
  margin-bottom: 15px;
  border-bottom: 1px solid black;
}

.screen {
  background-color: rgb(250, 212, 154);
  height: 300px;
  width: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.letter {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(227, 217, 217, 0.285);
  height: 50px;
  width: 50px;
  border: 1px solid black;
}

.user-container {
  width: 600px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-div {
  display: flex;
  justify-content: center;
  padding: 30px;
}

.input-div input {
  width: 500px;
  display: flex;
  justify-content: center;
}

.input-div button {
  display: flex;
  justify-content: center;
  width: 50px;
  padding: 8px 18px;
}
/* footer css */

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px; /* Height of the footer */
}

.footer p {
  text-align: center;
}
